body {
  background-color: #a7ffeb;
}
.header {
  background-color: #ff5252;
  color: #f5f5f5;
  text-align: center;
  width: 100%;
  padding: 30px;
}
.navbar-link {
  background-color: #ff5252;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
}

.navbar-link:hover {
  background-color: #ff4d38;
}

#quiz-container {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.question-card {
  border: 2px solid #ccc;
  padding: 40px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question-container {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff5252;
}

.options-container {
  text-align: left;
}

.options-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options-container li {
  margin: 10px 0;
}

.options-container button {
  padding: 20px 40px;
  font-size: 20px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  transition: background-color 0.3s;
  margin-top: auto;
}

.options-container button:hover {
  background-color: #ff4d38;
}
